<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" (click)="buttonsNav.toggle()" data-mdb-toggle="collapse"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" mdbCollapse #buttonsNav="mdbCollapse">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/">Home</a>
                <a class="nav-link" routerLink="/campgrounds">Campgrounds</a>
                <a class="nav-link" routerLink="/campgrounds/new">New Campground</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a routerLink="/login" class="nav-link">Login</a>
                <a routerLink="/signup" class="nav-link">Register</a>
                <a routerLink="/logout" class="nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>