<div class="card" fxLayout="column" fxLayoutAlign="center center">
    <img src="https://mdbootstrap.com/img/new/standard/nature/184.webp" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">Sign Up!</h5>
        <p class="card-text">
            Enter your email and create a username and password to be able to use our site to its fullest extent!
        </p>
        <hr>
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="mb-3">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="email" id="email" class="form-control" formControlName="email"
                        required />
                    <label mdbLabel class="form-label" for="email">Email Address</label>
                    <mdb-error *ngIf="
                email?.invalid && (email?.dirty || email?.touched)
                ">First name is required</mdb-error>
                    <mdb-success *ngIf="
                email?.valid && (email?.dirty || email?.touched)
                ">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
            <div class="mb-3">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" id="username" class="form-control"
                        formControlName="username" required />
                    <label mdbLabel class="form-label" for="username">Username</label>
                    <mdb-error *ngIf="
                username?.invalid && (username?.dirty || username?.touched)
                ">First name is required</mdb-error>
                    <mdb-success *ngIf="
                username?.valid && (username?.dirty || username?.touched)
                ">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
            <div>
                <mdb-form-control>
                    <input mdbValidate mdbInput type="password" id="password" class="form-control"
                        formControlName="password" required />
                    <label mdbLabel class="form-label" for="password">Password</label>
                    <mdb-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">Last name is required
                    </mdb-error>
                    <mdb-success *ngIf="password?.valid && (password?.dirty || password?.touched)">Looks good!
                    </mdb-success>
                </mdb-form-control>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-rounded mt-4">Sign Up</button>
            </div>
        </form>
    </div>
</div>
