<div class="card" style="width: 18rem;">
    <img src="https://mdbootstrap.com/img/new/standard/nature/184.webp" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">Log In!</h5>
        <p class="card-text">
            Enter your username and password to access your campsites!
        </p>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
                <mdb-form-control>
                    <input mdbValidate mdbInput type="text" id="username" class="form-control"
                        formControlName="username" required />
                    <label mdbLabel class="form-label" for="username">Username</label>
                    <mdb-error *ngIf="
                username?.invalid && (username?.dirty || username?.touched)
                ">First name is required</mdb-error>
                    <mdb-success *ngIf="
                username?.valid && (username?.dirty || username?.touched)
                ">Looks good!</mdb-success>
                </mdb-form-control>
            </div>
            <div>
                <mdb-form-control>
                    <input mdbValidate mdbInput type="password" id="password" class="form-control"
                        formControlName="password" required />
                    <label mdbLabel class="form-label" for="password">Password</label>
                    <mdb-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">Last name is required
                    </mdb-error>
                    <mdb-success *ngIf="password?.valid && (password?.dirty || password?.touched)">Looks good!
                    </mdb-success>
                </mdb-form-control>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-rounded mt-4">Login</button>
            </div>
        </form>
    </div>
</div>
